name: Build Android APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.0'

      - name: Navigate to project folder and install dependencies
        run: |
          cd SOSNet
          flutter pub get

      - name: Build APK
        run: |
          cd SOSNet
          flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: SOSNet-APK
          path: SOSNet/build/app/outputs/flutter-apk/app-release.apk
